 .welcome-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* big background text */
.welcome-bg-text {
  position: absolute;
  top: 80px;
  align-content: center;
  font-family: "StarFont", cursive;
  font-size: 35px;
  color: #2b2b2b;
  text-shadow: 2px 2px white;
}

/* pixel box */
.character-box {
  background: #f5f0d8;
  border: 6px solid #2b2b2b;
  padding: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 6px 6px 0 #000;
}

.box-title {
  background: #9ccc65;
  padding: 8px;
  font-weight: bold;
  border: 3px solid #2b2b2b;
}

.box-subtitle {
  margin: 10px 0;
  font-size: 25px;
}

/* characters */
.character-row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.character-card {
  width: 90px;
  height: 110px;
  border: 3px solid #2b2b2b;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.character-card img {
  width: 70px;
}

.character-card.active {
  outline: 3px solid #ffcc00;
  transform: scale(1.05);
}

/* start button */
.start-btn {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border: 3px solid black;
  background: #9ccc65;
  cursor: pointer;
}

.start-btn:disabled {
  background: gray;
  cursor: not-allowed;
}